params {
    ecr_registry = '950796408753.dkr.ecr.us-west-2.amazonaws.com'
    outdir = '/mnt/workflow/pubdir'
}

manifest {
    nextflowVersion = '!>=22.04.0'
}

conda {
    enabled = false
}

docker {
    enabled = true
    registry = params.ecr_registry
}

process {
withName: '.*' { conda = null }
withName: '(.+:)?ADD_INFO_TO_VCF' { container = 'quay/biocontainers/gawk:5.1.0' }
withName: '(.+:)?BUILD_INTERVALS' { container = 'quay/biocontainers/gawk:5.1.0' }
withName: '(.+:)?CREATE_INTERVALS_BED' { container = 'quay/biocontainers/gawk:5.1.0' }
withName: '(.+:)?VCFTOOLS' { container = 'quay/biocontainers/vcftools:0.1.16--he513fc3_4' }
withName: '(.+:)?FASTQC' { container = 'quay/biocontainers/fastqc:0.11.9--0' }
withName: '(.+:)?TABIX_TABIX' { container = 'quay/biocontainers/tabix:1.11--hdfd78af_0' }
withName: '(.+:)?TABIX_BGZIPTABIX' { container = 'quay/biocontainers/tabix:1.11--hdfd78af_0' }
withName: '(.+:)?DEEPVARIANT' { container = 'quay/nf-core/deepvariant:1.5.0' }
withName: '(.+:)?DRAGMAP_ALIGN' { container = 'quay/biocontainers/mulled-v2-580d344d9d4a496cd403932da8765f9e0187774d:5ebebbc128cd624282eaa37d2c7fe01505a91a69-0' }
withName: '(.+:)?DRAGMAP_HASHTABLE' { container = 'quay/biocontainers/dragmap:1.2.1--h72d16da_1' }
withName: '(.+:)?CONTROLFREEC_FREEC2CIRCOS' { container = 'quay/biocontainers/control-freec:11.6--h1b792b2_1' }
withName: '(.+:)?CONTROLFREEC_FREEC' { container = 'quay/biocontainers/control-freec:11.6--h1b792b2_1' }
withName: '(.+:)?CONTROLFREEC_FREEC2BED' { container = 'quay/biocontainers/control-freec:11.6--h1b792b2_1' }
withName: '(.+:)?CONTROLFREEC_MAKEGRAPH' { container = 'quay/biocontainers/control-freec:11.6--h1b792b2_1' }
withName: '(.+:)?CONTROLFREEC_ASSESSSIGNIFICANCE' { container = 'quay/biocontainers/control-freec:11.6--h1b792b2_1' }
withName: '(.+:)?STRELKA_GERMLINE' { container = 'quay/biocontainers/strelka:2.9.10--h9ee0642_1' }
withName: '(.+:)?STRELKA_SOMATIC' { container = 'quay/biocontainers/strelka:2.9.10--h9ee0642_1' }
withName: '(.+:)?MSISENSORPRO_SCAN' { container = 'quay/biocontainers/msisensor-pro:1.2.0--hfc31af2_0' }
withName: '(.+:)?MSISENSORPRO_MSI_SOMATIC' { container = 'quay/biocontainers/msisensor-pro:1.2.0--hfc31af2_0' }
withName: '(.+:)?UNTAR' { container = 'quay/nf-core/ubuntu:20.04' }
withName: '(.+:)?CAT_CAT' { container = 'quay/biocontainers/pigz:2.3.4' }
withName: '(.+:)?CAT_FASTQ' { container = 'quay/nf-core/ubuntu:20.04' }
withName: '(.+:)?GATK4_CNNSCOREVARIANTS' { container = 'quay/nf-core/gatk:4.4.0.0' }
withName: '(.+:)?GATK4_CALCULATECONTAMINATION' { container = 'quay/biocontainers/gatk4:4.4.0.0--py36hdfd78af_0' }
withName: '(.+:)?GATK4_FILTERMUTECTCALLS' { container = 'quay/biocontainers/gatk4:4.4.0.0--py36hdfd78af_0' }
withName: '(.+:)?GATK4_GENOTYPEGVCFS' { container = 'quay/biocontainers/gatk4:4.4.0.0--py36hdfd78af_0' }
withName: '(.+:)?GATK4_MERGEMUTECTSTATS' { container = 'quay/biocontainers/gatk4:4.4.0.0--py36hdfd78af_0' }
withName: '(.+:)?GATK4_HAPLOTYPECALLER' { container = 'quay/biocontainers/gatk4:4.4.0.0--py36hdfd78af_0' }
withName: '(.+:)?GATK4_BASERECALIBRATOR' { container = 'quay/biocontainers/gatk4:4.4.0.0--py36hdfd78af_0' }
withName: '(.+:)?GATK4_GATHERPILEUPSUMMARIES' { container = 'quay/biocontainers/gatk4:4.4.0.0--py36hdfd78af_0' }
withName: '(.+:)?GATK4_MERGEVCFS' { container = 'quay/biocontainers/gatk4:4.4.0.0--py36hdfd78af_0' }
withName: '(.+:)?GATK4_ESTIMATELIBRARYCOMPLEXITY' { container = 'quay/biocontainers/gatk4:4.4.0.0--py36hdfd78af_0' }
withName: '(.+:)?GATK4_BASERECALIBRATOR_SPARK' { container = 'quay/nf-core/gatk:4.4.0.0' }
withName: '(.+:)?GATK4_GATHERBQSRREPORTS' { container = 'quay/biocontainers/gatk4:4.4.0.0--py36hdfd78af_0' }
withName: '(.+:)?GATK4_MARKDUPLICATES_SPARK' { container = 'quay/nf-core/gatk:4.4.0.0' }
withName: '(.+:)?GATK4_VARIANTRECALIBRATOR' { container = 'quay/biocontainers/gatk4:4.4.0.0--py36hdfd78af_0' }
withName: '(.+:)?GATK4_GENOMICSDBIMPORT' { container = 'quay/biocontainers/gatk4:4.4.0.0--py36hdfd78af_0' }
withName: '(.+:)?GATK4_APPLYBQSR_SPARK' { container = 'quay/nf-core/gatk:4.4.0.0' }
withName: '(.+:)?GATK4_APPLYVQSR' { container = 'quay/biocontainers/gatk4:4.4.0.0--py36hdfd78af_0' }
withName: '(.+:)?GATK4_APPLYBQSR' { container = 'quay/biocontainers/gatk4:4.4.0.0--py36hdfd78af_0' }
withName: '(.+:)?GATK4_FILTERVARIANTTRANCHES' { container = 'quay/biocontainers/gatk4:4.4.0.0--py36hdfd78af_0' }
withName: '(.+:)?GATK4_MARKDUPLICATES' { container = 'quay/biocontainers/mulled-v2-d9e7bad0f7fbc8f4458d5c3ab7ffaaf0235b59fb:f857e2d6cc88d35580d01cf39e0959a68b83c1d9-0' }
withName: '(.+:)?GATK4_INTERVALLISTTOBED' { container = 'quay/biocontainers/gatk4:4.4.0.0--py36hdfd78af_0' }
withName: '(.+:)?GATK4_LEARNREADORIENTATIONMODEL' { container = 'quay/biocontainers/gatk4:4.4.0.0--py36hdfd78af_0' }
withName: '(.+:)?GATK4_GETPILEUPSUMMARIES' { container = 'quay/biocontainers/gatk4:4.4.0.0--py36hdfd78af_0' }
withName: '(.+:)?GATK4_CREATESEQUENCEDICTIONARY' { container = 'quay/biocontainers/gatk4:4.4.0.0--py36hdfd78af_0' }
withName: '(.+:)?GATK4_MUTECT2' { container = 'quay/biocontainers/gatk4:4.4.0.0--py36hdfd78af_0' }
withName: '(.+:)?SNPEFF_SNPEFF' { container = 'quay/biocontainers/snpeff:5.1--hdfd78af_2' }
withName: '(.+:)?SNPEFF_DOWNLOAD' { container = 'quay/biocontainers/snpeff:5.1--hdfd78af_2' }
withName: '(.+:)?CNVKIT_BATCH' { container = 'quay/biocontainers/mulled-v2-780d630a9bb6a0ff2e7b6f730906fd703e40e98f:3bdd798e4b9aed6d3e1aaa1596c913a3eeb865cb-0' }
withName: '(.+:)?CNVKIT_REFERENCE' { container = 'quay/biocontainers/cnvkit:0.9.9--pyhdfd78af_0' }
withName: '(.+:)?CNVKIT_ANTITARGET' { container = 'quay/biocontainers/cnvkit:0.9.9--pyhdfd78af_0' }
withName: '(.+:)?BWA_MEM' { container = 'quay/biocontainers/mulled-v2-fe8faa35dbf6dc65a0f7f5d4ea12e31a79f73e40:219b6c272b25e7e642ae3ff0bf0c5c81a5135ab4-0' }
withName: '(.+:)?BWA_INDEX' { container = 'quay/biocontainers/bwa:0.7.17--hed695b0_7' }
withName: '(.+:)?MOSDEPTH' { container = 'quay/biocontainers/mosdepth:0.3.3--hdfd78af_1' }
withName: '(.+:)?FASTP' { container = 'quay/biocontainers/fastp:0.23.4--h5f740d0_0' }
withName: '(.+:)?MULTIQC' { container = 'quay/biocontainers/multiqc:1.14--pyhdfd78af_0' }
withName: '(.+:)?MANTA_GERMLINE' { container = 'quay/biocontainers/manta:1.6.0--h9ee0642_1' }
withName: '(.+:)?MANTA_SOMATIC' { container = 'quay/biocontainers/manta:1.6.0--h9ee0642_1' }
withName: '(.+:)?MANTA_TUMORONLY' { container = 'quay/biocontainers/manta:1.6.0--h9ee0642_1' }
withName: '(.+:)?FGBIO_GROUPREADSBYUMI' { container = 'quay/biocontainers/fgbio:2.0.2--hdfd78af_0' }
withName: '(.+:)?FGBIO_FASTQTOBAM' { container = 'quay/biocontainers/fgbio:2.0.2--hdfd78af_0' }
withName: '(.+:)?FGBIO_CALLMOLECULARCONSENSUSREADS' { container = 'quay/biocontainers/fgbio:2.0.2--hdfd78af_0' }
withName: '(.+:)?BCFTOOLS_CONCAT' { container = 'quay/biocontainers/bcftools:1.17--haef29d1_0' }
withName: '(.+:)?BCFTOOLS_SORT' { container = 'quay/biocontainers/bcftools:1.17--haef29d1_0' }
withName: '(.+:)?BCFTOOLS_STATS' { container = 'quay/biocontainers/bcftools:1.17--haef29d1_0' }
withName: '(.+:)?BCFTOOLS_MPILEUP' { container = 'quay/biocontainers/bcftools:1.17--haef29d1_0' }
withName: '(.+:)?TIDDIT_SV' { container = 'quay/biocontainers/tiddit:3.3.2--py310hc2b7f4b_0' }
withName: '(.+:)?SAMBLASTER' { container = 'quay/biocontainers/mulled-v2-19fa9f1a5c3966b63a24166365e81da35738c5ab:cee56b506ceb753d4bbef7e05b81e1bfc25d937f-0' }
withName: '(.+:)?ENSEMBLVEP_DOWNLOAD' { container = 'quay/biocontainers/ensembl-vep:108.2--pl5321h4a94de4_0' }
withName: '(.+:)?ENSEMBLVEP_VEP' { container = 'quay/biocontainers/ensembl-vep:108.2--pl5321h4a94de4_0' }
withName: '(.+:)?UNZIP' { container = 'quay/biocontainers/p7zip:16.02' }
withName: '(.+:)?ASCAT' { container = 'quay/biocontainers/mulled-v2-c278c7398beb73294d78639a864352abef2931ce:ba3e6d2157eac2d38d22e62ec87675e12adb1010-0' }
withName: '(.+:)?FREEBAYES' { container = 'quay/biocontainers/freebayes:1.3.6--hbfe0e7f_2' }
withName: '(.+:)?BWAMEM2_MEM' { container = 'quay/biocontainers/mulled-v2-e5d375990341c5aef3c9aff74f96f66f65375ef6:2cdf6bf1e92acbeb9b2834b1c58754167173a410-0' }
withName: '(.+:)?BWAMEM2_INDEX' { container = 'quay/biocontainers/bwa-mem2:2.2.1--he513fc3_0' }
withName: '(.+:)?SAMTOOLS_VIEW' { container = 'quay/biocontainers/samtools:1.17--h00cdaf9_0' }
withName: '(.+:)?SAMTOOLS_CONVERT' { container = 'quay/biocontainers/samtools:1.17--h00cdaf9_0' }
withName: '(.+:)?SAMTOOLS_COLLATEFASTQ' { container = 'quay/biocontainers/samtools:1.17--h00cdaf9_0' }
withName: '(.+:)?SAMTOOLS_FAIDX' { container = 'quay/biocontainers/samtools:1.17--h00cdaf9_0' }
withName: '(.+:)?SAMTOOLS_STATS' { container = 'quay/biocontainers/samtools:1.17--h00cdaf9_0' }
withName: '(.+:)?SAMTOOLS_MPILEUP' { container = 'quay/biocontainers/samtools:1.17--h00cdaf9_0' }
withName: '(.+:)?SAMTOOLS_BAM2FQ' { container = 'quay/biocontainers/samtools:1.17--h00cdaf9_0' }
withName: '(.+:)?SAMTOOLS_MERGE' { container = 'quay/biocontainers/samtools:1.17--h00cdaf9_0' }
withName: '(.+:)?SAMTOOLS_INDEX' { container = 'quay/biocontainers/samtools:1.17--h00cdaf9_0' }
withName: '(.+:)?SVDB_MERGE' { container = 'quay/biocontainers/mulled-v2-c8daa8f9d69d3c5a1a4ff08283a166c18edb0000:af6f8534cd538a85ff43a2eae1b52b143e7abd05-0' }
withName: '(.+:)?CUSTOM_DUMPSOFTWAREVERSIONS' { container = 'quay/biocontainers/multiqc:1.14--pyhdfd78af_0' }
}
